-load i18n

%h4
  -blocktrans
    To finish configuring your VK connection, you'll need to enter the following webhook URL and token on your application's
    Messenger settings community. Make sure to check all boxes within the 'Callback API' section to subscribe to incoming events types and referral parameters in the following list.

  (<code>Message received</code>, <code>Message sent</code>, <code>Message Edited</code>, <code>Message Enabled</code>, <code>Message Disabled</code>, <code>Typing Status</code>)

%hr

%h4
  -trans "Webhook URL"

%code
  https://{{ channel.callback_domain }}{% url 'courier.vk' channel.uuid %}

%h4
  -trans "Verify Token"

%code
  {{ channel.config.secret }}
