-load i18n

%h4
  -blocktrans
    To complete the configuration of your VK connection, you will need to enter the Webhook URL
    in the URL field in the API Usage> Callback API> Server Settings section. And the Verify Token
    in the Secret Key field present in the API Usage> Callback API> Server Settings section.
    After this part, go to API Usage> Callback API> Event Types and check the options:

  (<code>Message received</code>, <code>Message sent</code>, <code>Message Edited</code>, <code>Message Enabled</code>, <code>Message Disabled</code>, <code>Typing Status</code>)

%hr

%h4
  -trans "Webhook URL"

%code
  https://{{ channel.callback_domain }}{% url 'courier.vk' channel.uuid %}

%h4
  -trans "Verify Token"

%code
  {{ channel.config.secret }}
